---
import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import Section from "../../components/Section.astro";
import ReturnHome from "../../components/ReturnHome.astro";

import { BodyIdentifiers } from "../../..";

import "../../styles/blog.css";

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<Main title="headquarter8302 - blog" bodyId={BodyIdentifiers.Blog}>
  <ReturnHome />
  <Section id="blogintro" classes="fill-viewport-half">
    <h1>Blogs</h1>
    <p>Writings and posts from me</p>
  </Section>
  <ul>
    {
      sortedPosts.map((post) => (
        <li data-key={post.id}>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          <p>{post.data.description}</p>
          <small>{new Date(post.data.date).toLocaleDateString()}</small>
        </li>
      ))
    }
  </ul>
</Main>
