---
import Main from "../layouts/Main.astro";
import ReturnHome from "../components/ReturnHome.astro";

import { BodyIdentifiers, RootPages } from "../..";

import "../styles/blogpost.css"

interface Props {
  postTitle: string,
  postDesc: string | undefined,
  postPublish: Date,
  postTags: string
}

const { postTitle, postDesc, postPublish, postTags } = Astro.props;
---

<Main
  title={`${postTitle} - headquarter8302 - blog`}
  bodyId={BodyIdentifiers.Blog}
>
<ReturnHome link={RootPages.Blog} text="to blog list" />
  <article>
    <header>
      <hgroup>
        <h1>{postTitle}</h1>
        <h2>{postDesc}</h2>
      </hgroup>
      <div class="date">{postPublish}</div>
      <div class="tags">Tags: {postTags}</div>
    </header>
    <slot />
  </article>
</Main>
